/* this CSS style the gallery.html page linked from the Destinations section of the index.html page */

.gallery {
    background-color: lightcyan;
  
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  
    margin: auto;
}
  
/* this div includes image and paragraph */
.gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.gallery img {
    max-height: 450px;
    margin: 0.5em;

    max-width: 95%;
}

/* both a and p set to work (better associate description to implied image)*/
/* .gallery a {
    padding-bottom: 1em;
}
  
.gallery p {
    padding-bottom: 1em;
} */